*{

    box-sizing: border-box;
}

body{
    
    margin: 0;
    background-color: #F6F0EB;
    font-family:"Poppins", sans-serif;
    color: #492118;  
   
}
.main-contante{
    overflow-x: hidden;
    height: 100vh;
    scroll-behavior: smooth;
}

header{

    padding: 24px;
    background-color: #fff;
}
.navbar{
    display: flex;
    justify-content:space-between;
    align-items: center;
    max-width: 1590px;
    margin: 0 auto;
   
}

.nav-ops{ 
 display: flex;

}
.menu{
    display: none;
    width: 35px;
    cursor: pointer;

}
.close{ 
    display:none;
    width: 12px;
    position: absolute;
    top: 25px;
    right: 20px;
}
.nav-ops a{
    text-decoration: none;
    color: inherit;
    font-size: 20px;
    font-weight: 700;

}
.nav-ops a+a{
    margin-left: 60px;
   
}


main{
    padding-inline: 32px;
}

.hero-section{
text-align: center;

  margin-top: 100px;
}

.hero-img{
    max-width: 1290px;
    margin: 0 auto;
}
img{
    width: 100%;
}


.section{
    margin-top: 120px;
    text-align: center;
}
.section-img{
    max-width: 900px;
   margin-inline: auto;
}

.section h2{
 font-size: 45px;
 font-weight: 700;
}


.go-top{
    max-width: 900px;
    margin: 0 auto;
    text-align: right;
   margin-top: 80px;
}
.go-top a{
    color:#492118;
    font-size: 32px;
}


footer{ margin-top: 50px;
    text-align: center;
}
footer p{
    color: #858585;
    font-size: 24px;
}

@media(max-width:1200px){

    .nav-ops a{
       
        font-size: 16px;
       
    
    }
    .nav-ops a+a{
        margin-left: 45px;
       
    }

}
@media(max-width:960px){

    .nav-ops a{
       
        font-size: 12px;
       
    
    }
    .nav-ops a+a{
        margin-left: 30px;
       
    }

}


@media(max-width:720px){

    header{
        padding:  12px 24px;
        background-color: #f6f0ebe0;
        position: sticky;
        top: 0;
    }

    .hero-section{

          margin-top: 45px;
        }
        

    .section{
        margin-top: 60px;
        
    }


    .section h2{
        font-size: 15px;
        
       }
       .menu{
        display: block;
       }
       .close{
        display: block;
       }
       .nav-ops{ 
       flex-direction: column;
       position: absolute;
       background-color: #f6f0eb94;
       backdrop-filter: blur(10px);
       /* right: 24px; */
    right: -100%;
       top: 0;
       padding: 20px;
       transition: all .3s ease-in;
       
       }

       .nav-ops a+a{
        margin-left: 0;
        margin-top: 15px;
       
    }
    .go-top{
    
       margin-top: 35px;
    }
    .go-top a{
        
        font-size: 12px;
    }
    footer{ margin-top: 30px;
        
    }
    footer p{
        font-size: 10px;
    }
}